status

<!-- <form [formGroup]="statusForm" (ngSubmit)="onSubmit()">
    <div class="form-group">        
            <label for="applicationId">Application Id</label>
            <input type="input" id="applicationId" class="form-control" placeholder="Enter Application Id"
                formControlName="applicationId" />        
    </div>

    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
 <form>
     
<form>
        <div class="form-group">        
                <label for="applicationId">Application Status {{}}</label>                      
        </div>
    
        <div>
            <button class="btn btn-primary" (click)="onReject()">Reject</button>
            <button class="btn btn-primary" (click)="onAccept()">Accept</button>
        </div>
<form> -->
