<form [formGroup]="statusForm" (ngSubmit)="onSubmit()">
    <div class="form-group">        
            <label for="applicationId">Application Id</label>
            <input type="input" id="applicationId" class="form-control" placeholder="Enter Application Id"
                formControlName="applicationId" />                  
    </div>

    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
 <form>
     
<br>

<label>Application Id : {{applicationId}}</label>
<br>
<label>Status : {{statusName}}</label>
<br>
<label>Corporate : {{corporateName}}</label>
<br>
<label>Representative : {{representativeName}}</label>
<br>
<label>Amount : {{amount}}</label>

<div>
    <button *ngIf="showButton" class="btn btn-danger" (click)="onReject()">Reject</button>
    
    <button *ngIf="showButton" class="btn btn-success" (click)="onAccept()">Accept</button>
</div>
