<div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    
                        <h4>Loan Details</h4>
                        <label for="amount">Amount</label>
                        <input type="number" id="amount" class="form-control" placeholder="Enter Amount"
                            formControlName="amount" />
                        <span style="color:red" *ngIf="applyForm.get('amount').errors && 
                        applyForm.get('amount').errors['required'] && 
                        applyForm.get('amount').touched
                        ">This field is required! <br></span>
    
                        <label for="term">Term</label>
                        <input type="number" id="term" class="form-control" placeholder="Enter Term"
                            formControlName="term" />                       
                    
                </div>
                
                
                        <h4>Corporate Details</h4>
                        <label for="corporateName">Name</label>
                        <input type="input" id="corporateName" class="form-control"
                            placeholder="Enter Corporate Name" formControlName="corporateName" />
                        <span style="color:red" *ngIf="applyForm.get('corporateName').errors && 
                        applyForm.get('corporateName').errors['required'] && 
                        applyForm.get('corporateName').touched
                        ">This field is required! <br></span>
    
                        <label for="corporateAddress">Address</label>
                        <input type="input" id="corporateAddress" class="form-control" placeholder="Enter Corporate Address"
                            formControlName="corporateAddress" />
                        <span style="color:red" *ngIf="applyForm.get('corporateAddress').errors && 
                        applyForm.get('corporateAddress').errors['required'] && 
                        applyForm.get('corporateAddress').touched
                        ">This field is required! <br></span>
    
                        <label for="corporateLegalStructure">Legal Structure</label>
                        <input type="input" id="corporateLegalStructure" class="form-control" placeholder="Enter Legal Structure"
                            formControlName="corporateLegalStructure" />

                        <label for="corporateDateOfRegister">Age</label>
                        <input type="number" id="corporateDateOfRegister" class="form-control" placeholder="Enter age"
                            formControlName="corporateDateOfRegister" />
                        <span style="color:red" *ngIf="applyForm.get('corporateDateOfRegister').errors && 
                            applyForm.get('corporateDateOfRegister').errors['age'] && 
                            applyForm.get('corporateDateOfRegister').touched
                            ">Company must be older than 2 years! <br></span>
                        <span style="color:red" *ngIf="applyForm.get('corporateDateOfRegister').errors && 
                        applyForm.get('corporateDateOfRegister').errors['required'] && 
                        applyForm.get('corporateDateOfRegister').touched
                        ">This field is required! <br></span>
    
                        <label for="corporateRevenueLastYear">Revenue of Last Year</label>
                        <input type="number" id="corporateRevenueLastYear" class="form-control" placeholder="Enter Revenue of Last Year"
                            formControlName="corporateRevenueLastYear" />
                        <span style="color:red" *ngIf="applyForm.get('corporateRevenueLastYear').errors && 
                        applyForm.get('corporateRevenueLastYear').errors['revenue'] && 
                        applyForm.get('corporateRevenueLastYear').touched
                        ">Company must have more than 50k revenue! <br></span>
                        <span style="color:red" *ngIf="applyForm.get('corporateRevenueLastYear').errors && 
                        applyForm.get('corporateRevenueLastYear').errors['required'] && 
                        applyForm.get('corporateRevenueLastYear').touched
                        ">This field is required! <br></span>

                        <label for="corporateCurrentDebt">Existing Loan</label>
                        <input type="number" id="corporateCurrentDebt" class="form-control" placeholder="Enter existing loan amount"
                            formControlName="corporateCurrentDebt" />                        
                        <span style="color:red" *ngIf="applyForm.get('corporateCurrentDebt').errors && 
                        applyForm.get('corporateCurrentDebt').errors['required'] && 
                        applyForm.get('corporateCurrentDebt').touched
                        ">This field is required! <br></span>
                        <span style="color:red" *ngIf="applyForm.get('corporateCurrentDebt').errors && 
                        applyForm.get('corporateCurrentDebt').errors['loan'] && 
                        applyForm.get('corporateCurrentDebt').touched
                        ">Company must not have loan more than 1.5M in loans already<br></span>
                
    
                <br>
                
                
                    <h4>Personal Details of corporate representative(s)</h4>

                    <label for="representiveFirstName">Name</label>
                    <input type="input" id="representiveFirstName" class="form-control" placeholder="Enter representative name"
                        formControlName="representiveFirstName" />
                    <span style="color:red" *ngIf="applyForm.get('representiveFirstName').errors && 
                        applyForm.get('representiveFirstName').errors['required'] && 
                        applyForm.get('representiveFirstName').touched
                        ">This field is required! <br></span>

                    <label for="representiveAddress">Address</label>
                    <input type="input" id="representiveAddress" class="form-control" placeholder="Enter representative address"
                        formControlName="representiveAddress" />
                    <span style="color:red" *ngIf="applyForm.get('representiveAddress').errors && 
                        applyForm.get('representiveAddress').errors['required'] && 
                        applyForm.get('representiveAddress').touched
                        ">This field is required! <br></span>

                    <label for="representiveCitizenShip">Citizenship</label>
                    <input type="input" id="representiveCitizenShip" class="form-control" placeholder="Enter representative citizenship"
                        formControlName="representiveCitizenShip" />
                    <span style="color:red" *ngIf="applyForm.get('representiveCitizenShip').errors && 
                        applyForm.get('representiveCitizenShip').errors['required'] && 
                        applyForm.get('representiveCitizenShip').touched
                        ">This field is required! <br></span>

                    <label for="representiveDateOfBirth">Date of birth</label>
                    <input type="date" id="rage" class="form-control" placeholder="Enter representative age"
                        formControlName="representiveDateOfBirth" />
                    

                    <label for="representivePhoneNumber">Phone number</label>
                    <input type="input" id="representivePhoneNumber" class="form-control" placeholder="Enter representative phone number"
                        formControlName="representivePhoneNumber" />

                    <label for="representiveEmail">Email</label>
                    <input type="input" id="representiveEmail" class="form-control" placeholder="Enter representative email"
                    formControlName="representiveEmail" />

                    <label for="representiveLoan">Loan Amount</label>
                    <input type="number" id="representiveLoan" class="form-control" placeholder="Enter representative existing loan"
                    formControlName="representiveLoan" />
                    <span style="color:red" *ngIf="applyForm.get('representiveLoan').errors && 
                        applyForm.get('representiveLoan').errors['loan'] && 
                        applyForm.get('representiveLoan').touched
                        ">Representative must not have loan more than 1.5M in loans already<br></span>
                        <span style="color:red" *ngIf="applyForm.get('representiveLoan').errors && 
                        applyForm.get('representiveLoan').errors['required'] && 
                        applyForm.get('representiveLoan').touched
                        ">This field is required! <br></span>                  
                
                <br>                
                
                <div>
                    <button class="btn btn-primary">Create Account</button>
                </div>
            </form>
        </div>
    </div>